# Some examples:
#ErrorDocument 500 http://example.com/cgi-bin/server-error.cgi
#ErrorDocument 404 /errors/bad_urls.php
#ErrorDocument 401 /subscription_info.html
#ErrorDocument 403 "Sorry can't allow you access today"
#ErrorDocument 403 Forbidden!
#ErrorDocument 403 /errors/forbidden.py?referrer=%{escape:%{HTTP_REFERER}}


#ErrorDocument 404 "Sorry can't allow you access today"

ErrorDocument 400 /error/?error=400
ErrorDocument 401 /error/?error=401
ErrorDocument 402 /error/?error=402
ErrorDocument 403 /error/?error=403
ErrorDocument 404 /error/?error=404
ErrorDocument 405 /error/?error=405
ErrorDocument 500 /error/?error=500
ErrorDocument 501 /error/?error=501
ErrorDocument 502 /error/?error=502
ErrorDocument 503 /error/?error=503
ErrorDocument 504 /error/?error=504
ErrorDocument 505 /error/?error=505
#ErrorDocument maintenance /error/?error=maintenance
#ErrorDocument travaux /error/?error=travaux
#ErrorDocument default /error/?error=default
