@font-face {
    font-family: 'Inter-Regular';
    src: url('./../font/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('./../font/Inter-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YatraOne-Regular';
    src: url('./../font/YatraOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

